spring:
  application:
    name: greeting-service
  config:
    import: optional:configserver:http://localhost:8888/
  cloud:
    config:
      profile: perf
management:
  endpoints:
    web:
      exposure:
        include:
          - '*'
server:
  port: 8080
greeting-service:
  greeting: "Olá"
  default-value: "Mundo"
